<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text">
      <div class="logo-img">
        <img src="/assets/img/angular2-logo-white.png" />
      </div>
      Garde Enfants
      <span style="font-size: x-small; position: relative; left: 60px"
        >Version Nounou
      </span>
    </a>
  </div>
  <ul class="nav responsive-nav">
    <li *ngIf="isMobileMenu()">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-dashboard"></i>
        <p class="hidden-lg hidden-md">Dashboard</p>
      </a>
    </li>
    <li *ngIf="isMobileMenu()">
      <a href="/infos">
        <p>Mon compte</p>
      </a>
    </li>
    <li *ngIf="isMobileMenu()">
      <a>
        <p>Se déconnecter</p>
      </a>
    </li>
    <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }}"
    >
      <a [routerLink]="[menuItem.path]">
        <i
          *ngIf="menuItem.title != 'Administration'"
          class="{{ menuItem.icon }}"
        ></i>
        <i
          *ngIf="menuItem.title == 'Administration' && isAdmin"
          class="{{ menuItem.icon }}"
        ></i>
        <p
          *ngIf="
            menuItem.title != 'Messagerie' && menuItem.title != 'Administration'
          "
        >
          {{ menuItem.title }}
        </p>
        <p *ngIf="menuItem.title == 'Messagerie'">
          {{ menuItem.title }}
          <span
            *ngIf="unread_messages !== 0"
            class="badge"
            style="
              border-radius: 8x;
              font-size: 14px;
              background: azure;
              color: black;
              margin: 0 0 4px 5px;
              padding: 4px 8px;
            "
            >{{ unread_messages }}</span
          >
        </p>
        <p *ngIf="menuItem.title == 'Administration' && isAdmin">
          {{ menuItem.title }}
        </p>
      </a>
    </li>
  </ul>
</div>
