<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Je déclare mes disponibilités</h4>
                    </div>
                    <div class="content table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData.dataRows">
                                    <td style="width: 25%;">{{ row.jour }}</td>
                                    <td style="width: 25%;">
                                        <div class="inputGroup">
                                            <input [id]="'option_' + row.jour + '_matin'"
                                                [name]="'option_' + row.jour + '_matin'" type="checkbox"
                                                [checked]="row.matin" (change)="row.matin= !row.matin" />
                                            <label [htmlFor]="'option_' + row.jour + '_matin'"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inputGroup">
                                            <input [id]="'option_' + row.jour + '_midi'"
                                                [name]="'option_' + row.jour + '_midi'" type="checkbox"
                                                [checked]="row.midi" (change)="row.midi= !row.midi" />
                                            <label [htmlFor]="'option_' + row.jour + '_midi'"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="inputGroup">
                                            <input [id]="'option_' + row.jour + '_soir'"
                                                [name]="'option_' + row.jour + '_soir'" type="checkbox"
                                                [checked]="row.soir" (change)="row.soir= !row.soir" />
                                            <label [htmlFor]="'option_' + row.jour + '_soir'"></label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" mat-raised-button color="warn" (click)="onDelete()"
                            [disabled]="isOldTableEmpty()">Supprimer toutes les disponibilités</button>
                        <button type="button" mat-raised-button color="primary" class="pull-right" (click)="onSave()"
                            [disabled]="didDataChange()">Enregistrer</button>
                        <button type="button" mat-raised-button color="basic" class="pull-right" (click)="onCancel()"
                            [disabled]="didDataChange()">Annuler</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>